In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('train.csv')
df

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
...,...,...,...,...,...,...,...,...,...,...
622,0,male,28.0,0,0,10.5000,Second,unknown,Southampton,y
623,0,male,25.0,0,0,7.0500,Third,unknown,Southampton,y
624,1,female,19.0,0,0,30.0000,First,B,Southampton,y
625,0,female,28.0,1,2,23.4500,Third,unknown,Southampton,n
626,0,male,32.0,0,0,7.7500,Third,unknown,Queenstown,y

In [5]:
df.columns

Index(['survived', 'sex', 'age', 'n_siblings_spouses', 'parch', 'fare',
       'class', 'deck', 'embark_town', 'alone'],
      dtype='object')

In [8]:
y = df.survived
y.describe()

count    627.000000
mean       0.387560
std        0.487582
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: survived, dtype: float64

In [53]:
train_features =['age']
x = df[train_features]
print(x.head())

    age
0  22.0
1  38.0
2  26.0
3  35.0
4  28.0

In [54]:
x.describe(),y.describe()

(              age
 count  627.000000
 mean    29.631308
 std     12.511818
 min      0.750000
 25%     23.000000
 50%     28.000000
 75%     35.000000
 max     80.000000,
 count    627.000000
 mean       0.387560
 std        0.487582
 min        0.000000
 25%        0.000000
 50%        0.000000
 75%        1.000000
 max        1.000000
 Name: survived, dtype: float64)

In [58]:
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor(random_state=1)
model.fit(x,y)
prediction = model.predict(x.head())
print("the predicted data would be:")
print(prediction)

the predicted data would be:
[0.38888889 0.57142857 0.33333333 0.625      0.31612903]

In [59]:
from sklearn.metrics import mean_absolute_percentage_error
pred = model.predict(x)
print(type(mean_absolute_percentage_error))
mae = mean_absolute_percentage_error(pred,y)
print(mae)

<class 'function'>
1.1164274322169059